<div class="card">
    <h3>Afgræns søgning</h3>
    <div class="card-body">


        <div class="card card-filter">
            <div class="card-body">
              <h5 class="card-title">Materiale type</h5>
              <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" checked="checked" class="form-check-input" value="">Bog
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Blad
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Dvd
                  </label>
                </div>
            </div>
          </div>

          <div class="card card-filter">
              <div class="card-body">
                <h5 class="card-title">Sprog</h5>
                <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" checked="checked" class="form-check-input" value="">Dansk
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value="">Engelsk
                    </label>
                  </div>
                  <div class="form-check disabled">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value="">Spansk
                    </label>
                  </div>
              </div>
            </div>
</div>
</div>

